.h1 {
    margin: 40px 0 40px 40px;
    color: black;
}

.login_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    height: 100%;
    margin: 24px 40px 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    width: 42%;
    height: 70%;
    max-height: 80%;
    background-color: #ABF0FF;
    padding: 30px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 870px) and (max-width: 1000px) {
    .box {
        width: 47%;
    }
}

@media (max-width: 869px) { /* Mobile */
    .container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .box {
        width: 95%;
        margin-bottom: 40px;
    }
}

@media (prefers-color-scheme: dark) {
    .h1 {
        color: white;
    }
    .box {
        background-color: #006C84;
    }
}