.h1 {
    margin: 40px 0 40px 40px;
    color: black;
}

.container {
    width: 100%;
    height: 100%;
    margin-top: 24px;
}

.container_left {
    margin-left: 40px;
    float: left;
}

.container_right {
    margin-right: 40px;
    float: right;
}

.box {
    width: 42%;
    height: 70%;
    max-height: 80%;
    background-color: #ABF0FF;
    padding: 30px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {
    .h1 {
        color: white;
    }
    .box {
        background-color: #006C84;
    }
}