.container {
    background-color: white;
    width: 60%;
    margin: 0 auto;
    margin-block: 12px;
}

.today {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    border: 1px solid #303030;
    border-radius: 16px;
    margin: 5px;
}

.today_input {
    width: 80%;
    height: 32px;
    margin-left: 3px;
    background: #040404;
    border-radius: 8px;
}

@media (max-width: 790px) {
    .container {
        width: 90%;
    }
}

@media (prefers-color-scheme: dark) {
    .container {
        background-color: black;
    }

    .today {
        background-color: black;
    }
}