.title {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
}

.today_container {
    margin-block: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.today_container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.input_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input {
    background-color: #ABF0FF;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    padding: 8px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    width: 85%;
}

.today_exist_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ABF0FF;
    padding-inline: 12px;
    padding-block: 8px;
    border-radius: 12px;
    width: 100%;
}

.today_exist {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.today_exist_name {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.input::placeholder {
    color: #828282;
}

.icon {
    cursor: pointer;
}

.other_container {
    flex: 1;
    margin-bottom: 0;
}

@media (max-width: 869px) {
    .other_container {
        height: 300px;
        flex: none;
    }
}

@media (prefers-color-scheme: dark) {
    .today_container {
        background-color: black;
    }
    .input, .today_exist_container {
        background-color: #006C84;
    }
    .input::placeholder {
        color: #A0A0A0;
    }
}