.container {
    width: 60%;
    background-color: white;
    margin: 0 auto;
    margin-block: 12px;
}

.todo_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    border: 1px solid #303030;
    border-radius: 16px;
    margin: 5px;
}

.todo_input {
    width: 80%;
    height: 32px;
    margin-left: 3px;
    border-radius: 8px;
}

@media (max-width: 790px) {
    .container {
        width: 90%;
    }
}

@media (prefers-color-scheme: dark) {
    .container, .todo {
        background-color: black;
    }
    .todo_input {
        background-color: #040404;
    }
}